# CURSO DE FUNDAMENTOS DE PYTHON
## EJERCICIOS DE TUPLAS

### Ejercicio 1
Crear una tupla vacía

In [1]:
# Escribe tu solución aquí
tuple = ()
tuple

()

### Ejercicio 2
Crear una tupla con algunos elementos

In [2]:
# Escribe tu solución aquí
tuple = ('hola','adios','buenas tardes','buenos dias','buenas noches')
tuple

('hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches')

### Ejercicio 3
Acceder a un elemento de la tupla

In [3]:
# Escribe tu solución aquí
print(tuple[0])  
print(tuple[2]) 
print(tuple[-1])

hola
buenas tardes
buenas noches

### Ejercicio 4
Intentar modificar un elemento de la tupla (esto producirá un error ya que las tuplas son inmutables)

In [4]:
# Escribe tu solución aquí
tuple[0] = 'buen día'

TypeError: 'tuple' object does not support item assignment

### Ejercicio 5
Concatenar dos tuplas

In [5]:
# Escribe tu solución aquí
tuple1 = ('hola', 'adios', 'buenas tardes')
tuple2 = ('buenos dias', 'buenas noches')

tuple3 = tuple1 + tuple2

print(tuple3)

('hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches')

### Ejercicio 6
Obtener la longitud de una tupla

In [6]:
# Escribe tu solución aquí
tuple = ('hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches')

print(len(tuple))

5

### Ejercicio 7
Convertir una tupla en una lista

In [7]:
# Escribe tu solución aquí
tuple = ('hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches')

lista = list(tuple)

print(lista)
print(type(lista))

['hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches']
<class 'list'>

### Ejercicio 8
Convertir una lista en una tupla

In [19]:
# Escribe tu solución aquí
mi_lista = ['hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches']

mi_tupla = builtins.tuple(mi_lista)


print(mi_tupla)
print(type(mi_tupla))

('hola', 'adios', 'buenas tardes', 'buenos dias', 'buenas noches')
<class 'tuple'>

### Ejercicio 9
Crear una tupla de números enteros y calcular su suma y promedio

In [11]:
# Escribe tu solución aquí
numeros = (10, 20, 30, 40, 50)
suma = sum(numeros)

promedio = suma / len(numeros)

print("Tupla:", numeros)
print("Suma:", suma)
print("Promedio:", promedio)

Tupla: (10, 20, 30, 40, 50)
Suma: 150
Promedio: 30.0

### Ejercicio 10
Crear dos tuplas de la misma longitud y crear una nueva tupla que contenga la suma de los elementos correspondientes de ambas tuplas

In [18]:
# Escribe tu solución aquí
tupla1 = (1, 2, 3, 4, 5)
tupla2 = (10, 20, 30, 40, 50)

resultado = builtins.tuple(a + b for a, b in zip(tupla1, tupla2))

print("Tupla 1:", tupla1)
print("Tupla 2:", tupla2)
print("Tupla suma:", resultado)

Tupla 1: (1, 2, 3, 4, 5)
Tupla 2: (10, 20, 30, 40, 50)
Tupla suma: (11, 22, 33, 44, 55)

### Ejercicio 11
Crear una tupla de nombres y ordenarla alfabéticamente

In [17]:
# Escribe tu solución aquí
nombres = ("Juan", "Ana", "Pedro", "María", "Luis")

lista_nombres = list(nombres)
lista_nombres.sort()

import builtins
nombres_ordenados = builtins.tuple(lista_nombres)

print("Tupla original:", nombres)
print("Tupla ordenada:", nombres_ordenados)

Tupla original: ('Juan', 'Ana', 'Pedro', 'María', 'Luis')
Tupla ordenada: ('Ana', 'Juan', 'Luis', 'María', 'Pedro')

### Ejercicio 12
Crear una tupla de números y encontrar el valor mínimo y máximo

In [20]:
# Escribe tu solución aquí
numeros = (10, 5, 8, 20, 3, 15)

minimo = min(numeros)

maximo = max(numeros)

print("Tupla:", numeros)
print("Valor mínimo:", minimo)
print("Valor máximo:", maximo)

Tupla: (10, 5, 8, 20, 3, 15)
Valor mínimo: 3
Valor máximo: 20

### Ejercicio 13
Crear una tupla de números y convertirla en una lista

In [21]:
# Escribe tu solución aquí
numeros = (10, 5, 8, 20, 3, 15)

lista_numeros = list(numeros)

print("Tupla:", numeros)
print("Lista:", lista_numeros)
print(type(lista_numeros))

Tupla: (10, 5, 8, 20, 3, 15)
Lista: [10, 5, 8, 20, 3, 15]
<class 'list'>

### Ejercicio 14
Crear una tupla con los días de la semana y mostrar el tercer elemento

In [22]:
# Escribe tu solución aquí
dias_semana = ("lunes", "martes", "miércoles", "jueves", "viernes", "sábado", "domingo")

print("El tercer día de la semana es:", dias_semana[2])

El tercer día de la semana es: miércoles

### Ejercicio 15
Crear una tupla con números enteros y mostrar aquellos que son pares

In [24]:
# Escribe tu solución aquí
numeros = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

pares = builtins.tuple(n for n in numeros if n % 2 == 0)

print("Tupla original:", numeros)
print("Números pares:", pares)

Tupla original: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Números pares: (2, 4, 6, 8, 10)

### Ejercicio 16
Crear una tupla con los meses del año y mostrar aquellos que tienen más de cinco letras

In [26]:
# Escribe tu solución aquí
meses = ("enero", "febrero", "marzo", "abril", "mayo", "junio", 
         "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre")

meses_largos = builtins.tuple(m for m in meses if len(m) > 5)

print("Tupla original:", meses)
print("Meses con más de cinco letras:", meses_largos)

Tupla original: ('enero', 'febrero', 'marzo', 'abril', 'mayo', 'junio', 'julio', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre')
Meses con más de cinco letras: ('febrero', 'agosto', 'septiembre', 'octubre', 'noviembre', 'diciembre')

### Ejercicio 17
Crear una tupla con las edades de varias personas y mostrar la cantidad de personas mayores de 18 años

In [27]:
# Escribe tu solución aquí
edades = (15, 22, 17, 30, 18, 25, 12, 40)

mayores_18 = sum(1 for edad in edades if edad > 18)

print("Tupla de edades:", edades)
print("Cantidad de personas mayores de 18 años:", mayores_18)

Tupla de edades: (15, 22, 17, 30, 18, 25, 12, 40)
Cantidad de personas mayores de 18 años: 4

### Ejercicio 18
Crear una tupla de tuplas que contienen información de libros y mostrar el título del tercer libro

In [28]:
# Escribe tu solución aquí
libros = (
    ("Cien años de soledad", "Gabriel García Márquez", 1967),
    ("Don Quijote de la Mancha", "Miguel de Cervantes", 1605),
    ("La sombra del viento", "Carlos Ruiz Zafón", 2001),
    ("El amor en los tiempos del cólera", "Gabriel García Márquez", 1985)
)

print("El título del tercer libro es:", libros[2][0])

El título del tercer libro es: La sombra del viento